@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(90%, 1200px);
  margin: 20px auto;
}

nav img {
  width: 116px;
  height: 25px;
}

nav ul {
  display: flex;
  gap: 25px;
}

ul a {
  text-decoration: none;
  color: #484848;
}

ul li {
  list-style: none;
  font-size: 18px;
}

.sign-in {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}

.sign-in:hover {
  font-weight: bold;
}

.sign-up {
  background-color: #1572d3;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sign-up:hover {
  opacity: 0.8;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  padding: 100px 0px 80px 100px;
}

.hero-left {
  padding: 20px 80px;
}

.hero-left h1 {
  color: #242424;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 20px;
}

.hero-left p {
  font-size: 18px;
  color: #272727;
  max-width: 400px;
}

.hero-left h1 span {
  color: #1572d3;
}

.hero-right img {
  max-width: 100%;
}

.btns-container {
  display: flex;
  gap: 15px;
  padding: 30px 0;
}

.android {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.android i {
  font-size: 22px;
}

.android:hover {
  opacity: 0.8;
}

.apple {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.apple i {
  font-size: 25px;
}

.apple:hover {
  opacity: 0.8;
}

.hero-bottom {
  display: flex;
  height: 72px;
  width: 860px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 12px;
  margin-top: 0px;
}

.card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  margin-left: 10px;
  width: 255px;
}

.card i {
  font-size: 25px;
  color: #747474;
}

.card h4 {
  font-size: 16px;
  font-weight: 400;
}

.card p {
  font-size: 14px;
  color: #b6b6b6;
}

.search-btn {
  padding: 12px 45px;
  background-color: #1572d3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-btn:hover {
  opacity: 0.8;
}

.second-section {
  padding-top: 100px;
}

.second-section span {
  padding: 10px 20px;
  color: #1572d3;
  background-color: #1571d340;
  font-size: 14px;
  margin-left: 45%;
  border-radius: 5px;
  cursor: pointer;
}

.second-section h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 50px;
}

.working-steps {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.step i {
  text-align: center;
  font-size: 30px;
  padding: 30px 40px;
  border-radius: 8px;
  background-color: #1571d340;
}

.step h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 25px;
  text-align: center;
  color: #000000;
}

.step p {
  font-size: 14px;
  margin-top: 15px;
  color: #6d6d6d;
  text-align: center;
}

.logos-container {
  display: flex;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.logo {
  flex-grow: 1;
}

.third-section {
  padding-top: 100px;
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 60px;
}

.third-right {
  padding: 20px 0px;
}

.third-right span {
  background-color: #1571d340;
  color: #1572d3;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 6px;
}

.third-right h2 {
  font-size: 36px;
  font-weight: 500;
  color: #333333;
  margin-top: 30px;
  line-height: 1.3;
}

.third-card-section {
  display: flex;
  flex-direction: column;
}

.third-card {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}

.third-icon {
  color: #1572d3;
  background-color: #1571d330;
  padding: 15px 20px;
  font-size: 25px;
  border-radius: 15px;
}

.third-content {
  max-width: 330px;
}

.third-content h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
}

.third-content p {
  font-size: 16px;
  line-height: 1.3;
}

.fourth-section {
  padding: 80px 0;
}

.fourth-span {
  background-color: #1571d330;
  color: #1572d3;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 25px;
  border-radius: 6px;
  margin-left: 42%;
}

.fourth-section h1 {
  font-size: 38px;
  color: #333333;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.car-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}

.car {
  max-width: 256px;
  padding: 20px;
  box-shadow: 0 12px 24px 0 #104c8b30;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.car:hover {
  transform: translateY(-5px);
}

.car-content h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.rating {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  align-items: center;
}

.rating i {
  color: #efbf14;
}

.rating p {
  font-size: 14px;
  font-weight: 500;
}

.rating p span {
  font-size: 13px;
  color: #808080;
}

.status {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.status div {
  display: flex;
  gap: 6px;
  align-items: center;
}

.status i {
  font-size: 15px;
  color: #959595;
}

.status p {
  font-size: 12px;
  color: #959595;
}

.condition {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.condition div {
  display: flex;
  gap: 6px;
  align-items: center;
}

.condition i {
  font-size: 15px;
  color: #959595;
}

.condition p {
  font-size: 12px;
  color: #959595;
}

hr {
  margin: 20px 0;
  color: #959595;
  opacity: 0.7;
}

.car-foot div {
  display: flex;
  justify-content: space-between;
}

.car-foot p {
  color: #595959;
  font-size: 14px;
  font-weight: 500;
}

.car-foot h4 {
  font-size: 16px;
  font-weight: 600;
  color: #292929;
}

.car-foot h4 span {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
}

.car-foot button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #1572d3;
  width: 100%;
  padding: 8px 0;
  border: none;
  border-radius: 12px;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.car-foot button span {
  font-size: 20px;
  font-weight: 600;
}

.car-foot button:hover {
  background-color: #00458f;
}

.car-foot button:hover span {
  transform: translateX(5px);
}

.fifth-section {
  padding: 50px 0;
  background-color: #1572d312;
}

.fifth-span {
  background-color: #1571d330;
  color: #1572d3;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 25px;
  border-radius: 6px;
  margin-left: 44%;
}

.fifth-section h1 {
  font-size: 38px;
  color: #333333;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.fifth-img-container {
  display: flex;
  justify-content: space-between;
}

.fifth-right {
  margin-top: -150px;
}

.fifth-left {
  margin-top: -100px;
}

.testimonial-card {
  margin: -100px 20px 50px;
  display: flex;
  justify-content: space-evenly;
}

.testimonial-card1 {
  display: flex;
  transition: all 0.3s ease-in-out;
}

.testimonial-card1:hover {
  transform: scale(1.05);
}

.customer img {
  max-width: 363px;
}

.content {
  background-color: white;
  max-width: 300px;
  height: 400px;
  padding: 20px 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.content h1 {
  font-size: 56px;
  text-align: left;
}

.content h1 sub {
  font-size: 20px;
  color: #383838;
}

.stars i {
  color: #efbf14;
  font-size: 20px;
  margin: 10px 0 30px 0;
}

.content p {
  font-size: 15px;
  color: #282828;
}

.content h4 {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.from {
  font-size: 14px;
  color: #838383;
}

.customer2 {
  max-height: 400px;
  margin-left: 30px;
  margin-right: -25px;
}

.customer2 img {
  height: 100%;
}
